#Build
Build/*

.vscode/
tmp/
Repository/examples*
Repository/freq/
Repository/kanji/
Repository/krad/
Repository/Stroke/
Repository/vocab/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
